<footer bg-light>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/bachhav_dipak25/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://github.com/DipakBachhav25"><i class="fa-brands fa-square-github"></i></a>
            <a href="https://www.linkedin.com/in/dipak-bachhav-422144253/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy: DipakBachhav</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>